In [1]:
# Write Python 3 code in this online editor and run it.
print("Hello, World!")

Hello, World!

In [3]:
#Calculate Sum of 2 number enter by the user.
a = int(input("enter first number for sum : "))
b = int(input("enter first number for sum : "))
sum = a+ b 
print(sum)

enter first number for sum :  12
enter first number for sum :  23

35

In [5]:
#Convert the temperature from calcius to farenaite.
temp = float(input("Enter the temp in calcius : "))
faranite = (temp*(9/5) + 32)
print(faranite)

Enter the temp in calcius :  12

53.6

In [9]:
#Calculate area of rectangle.
len = float(input("enter the length : "))
wid = float(input("Enter the width : "))
area =  len * wid
print(area)

enter the length :  2
Enter the width :  2

4.0

In [19]:
#Take user name and age as input and print the greeting.
name = input("enter your name : ")
age = int(input("enter your age please :"))
print("Hello",name,"nice to meet you  you day is gone best today",age,"You are in your golden period of your life do the best work ")
print(f"Hello My Name is {name} and I'm {age+1} old")

enter your name :  12
enter your age please : 12

Hello 12 nice to meet you  you day is gone best today 12 You are in your golden period of your life do the best work
Hello My Name is 12 and I'm 13 old

In [27]:
#Check the number is even or odd.
nu = int(input("Please Enter the number: "))
if nu%2 == 0:
    print("even number")
else:
    print("odd number")

Please Enter the number:  2

even number

In [31]:
#Given a list of number, Find the maximum and minimum element.
lis = [1,4,65,46,456,34,87]
a= max(lis)
b = min(lis)
print("Maximum is",a)
print("minimum is",b)

Maximum is 456
minimum is 1

In [47]:
#Program for python function to check given string is palindrone.
st = input("Enter the string : ")
if st == st[::-1]: #s==s[::]
    print("string is palindrone")
else:
    print("not palindrone")

Enter the string :  qwewq

string is palindrone

In [49]:
#Calculate the interest.
pi = 100
rate =5
time =3
si =(pi*rate*time)/100
print(si)

15.0

In [51]:
#Convert the Given number of Days into Year, Month.
day = int(input("enter the number of days : "))
year = day//365
week = day//7
month = day//30
print("the number of year",year)
print("the number of year",week)
print("the number of year",month)

enter the number of days :  11222

the number of year 30
the number of year 1603
the number of year 374

In [57]:
#Given list of integer find sum of number
li = [1,4,6,56,3,64,34]
sum = 0

for i  in li:
    
    sum = sum +i
print(sum)

168

In [77]:
#Take sentence as input find out the number of words.
sent = "Hello myself ujjwal mittal i learnt programming language and get knowledge in  this lang"
ength= len(sent) #calculate the length of the string
print(ength)

TypeError: 'float' object is not callable

In [79]:
#program to swap the number.
a=20
b=35
print("the value of a,b before swap",a,b)
a,b = b,a
print("the value of a after swap",a,b)

the value of a,b before swap 20 35
the value of a after swap 35 20

In [81]:
#Create the variables.
name = input("enter your name : ")
age = int(input("enter your age : "))
average  = float(input("enter the details : "))

enter your name :  ujjwal
enter your age :  12
enter the details :  22

In [89]:
#Concatenate the string and print the result.
a = "My Name "
b = "Is Ujjwal Mittal"
print(a + b)

My Name Is Ujjwal Mittal

In [21]:
#create a list of fruits and access its elemnent.
fruits = ['apple','mango','grapes','banana','orange']
print(fruits[0])
n = len(fruits)
for i in range(0,n):
    print(fruits[i])

apple
apple
mango
grapes
banana
orange

In [17]:
#create a list of number find sum and average.
l = [1,3,56,67,545,45]
sum = 0 
for i in l:
    sum = sum + i
print(sum)
print(len(l))
avg = sum/len(l)
print(avg)

717
6
119.5

In [125]:
#Program for convert temperature in calcious to kelvin.
cal = int(input("Enter temp in calcius : "))
kalvin = cal + 273.15
print(kalvin)

Enter temp in calcius :  12

285.15

In [129]:
#Program to check String is palindrone.
st = input("enter the string :")
if st == st[::-1]: #remember it
    print("palindrone")
else:
    print("not a palindrone")

enter the string : qweewq

palindrone

In [131]:
#Function for Reverse the String.
stq = input("enter the string :")

print(stq[::-1])# remember it for reverse the string.

enter the string : qweeee

eeeewq

In [135]:
#Given a list of name concatenate in a single string.
def convert(lst):
     
    return''.join(lst)
     
# Driver code
lst = ['geeks', 'for', 'geeks']
print(convert(lst))

geeksforgeeks

In [137]:
#Area of Circle.
rad = float(input("enter the radius :"))

area = 3.14* rad*rad
peri = 2*3.14*rad 
print(peri,area)

enter the radius : 12

75.36 452.15999999999997

entre the min :  21

In [141]:
#Take Minute as input and convert into hour second.

min = int(input("entre the min : "))

hour = min/60
sec = min*60
print("hpurs is: ",hour)
print("second are : ",sec)

entre the min :  12

hpurs is:  0.2
second are :  720

In [47]:
#Program to check string is pangram(contains all letter of alphabet)
import string
 
def ispangram(str):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for char in alphabet:
        if char not in str.lower():
            return False
 
    return True
     
# Driver code
#string = 'the quick brown fox jumps over the lazy dog'
string = input("Enter the string :")
if(ispangram(string) == True):
    print("Yes")
else:
    print("No")

Enter the string : QWERTYUIOPLKJHGFDASZXCVBNMM

Yes

In [41]:
#Program to count number of vowels in string
string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string: qwertasxcui

Number of vowels are:
4

In [31]:
#program to check number is prime.
num = int(input("Enter the number :"))
if (num == 0 or num ==1 or num ==2):
    print("Not a prime number")
for i in range(2,num):
    if num%i == 0:
        print("the number is non prime")
        break
    else:
        print(" the prime number")

Enter the number : 2

Not a prime number

In [49]:
# Write Python 3 code in this online editor and run it.
num  = int(input("Enter some number  : "))
if num>0:
    print(f"the num{num} is a positive number")
elif num ==0:
    print(f"the number {num}is zero")
else:
    print(f"the number {num} is negative")

Enter some number  :  12

the num12 is a positive number

In [51]:
#PRINT AND STORE FIRST 10 EVEN numbers.
for i in range(1,21):
    if i%2==0:
        print(i) #how we store this number in such a way that its display as in  one string.

2
4
6
8
10
12
14
16
18
20

In [57]:
#To find the largest element in the list.
num = [1,3,44,24,22,45,34]
largest = 0
for i in num:
    if largest<i:
        largest = i
print(largest)

45

In [59]:
#Check year is leap or not
year = int(input("Enter the year : "))
if((year%4==0 and year%100!=0) or year%400==0):
    print(f"the year{year} is the leap year")
else:
    print(f"The year{year} is not a leap year")

Enter the year :  3

The year3 is not a leap year

In [137]:
#Find all even number and store in new list.
#Given list of integer, find even number and store in new list.
n =[]
lis = [1,2,3,5,4,7,57,76,34,23,12,24,5,65,55,6,66,88]
for i in lis:
    if i %2 ==0:
        print(i)
        n.append(i)
        #n.append(i)
print(n)

2
4
76
34
12
24
6
66
88
[2, 4, 76, 34, 12, 24, 6, 66, 88]

In [131]:
#Check given number is Prime.
#Check for a prime number.
num  = int(input("Enter the number: "))
if(num == 0 or num==1):
    print("not tells")
        
elif(num>1):
    for i in range(1,num):
        if(num%i==0):
            print("not prime")
            break
        else:
            print("Primee")
            break

Enter the number:  5

not prime

In [133]:
#Generates the Fibonacci Series upto given number of terms.

#generate fibonacci series of n term
num = int(input("Enter the number : "))
if num<0:
    print("negative number")
elif (num ==0 or num==1):
    print("0")
a  = 0 
b = 1
for i in range(1,num-1):
    print(a)
    print(b)
    a = a +b
    b = b +a

Enter the number :  5

0
1
1
2
3
5

In [123]:
#Given a list, print all name start with a.
#print and take an input list and print it.
#get a list of name print which start with a 
num = int(input("how many element you want to add : "))
l =['kd']
for i in range(0,num):
    li = input("enter the element")
    l.append(li)
   # l.insert(i+1,li)
    
print(l)
#Check nhi huadf

how many element you want to add :  4
enter the element ert
enter the element fty
enter the element ug
enter the element hu

['kd', 'ert', 'fty', 'ug', 'hu']

In [121]:

#print the multiplication table.
num = int(input("Enter the number for table: "))
for i in range(0,11):
    print(f"{num} * {i} = {num*i}")

Enter the number for table:  6

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [135]:
#Calculate the fibonacci series.
#generate fibonacci series of n term
num = int(input("Enter the number : "))
if num<0:
    print("negative number")
elif (num ==0 or num==1):
    print("0")
a  = 0 
b = 1
for i in range(1,num-1):
    print(a)
    print(b)
    a = a +b
    b = b +a

Enter the number :  1

0

In [74]:
#Loop for print prime number for 1 to 50.

In [76]:
#Given list of word,count number of word with more than 5 character.

In [78]:
#Calculate the sum of digit of given number.

In [83]:
## Function
#Day -4

In [85]:
#Calculate the area of circle 
#Calculate area of circle with radius.
def area(rad):
    print(3.14*rad*rad) #We can't use print after the return.
    return "Is area of circle"
rad = int(input("enter the radius : "))
print(area(rad))

enter the radius :  2

12.56
Is area of circle

In [93]:
#Check number is prime
def prime(num):
    for i in range(1,num):
        if num%i ==0:
            print("It's Prime number")
            break
        else:
            print("Non prime")
            break
        return "Thank you  using this function"
num = int(input("enter the number : "))
print(prime(num))

enter the number :  4

It's Prime number
None

In [95]:
#Make a function for reverse the string.
def reverse(stre):
    return stre[::-1]
stre = input("enter the number : ")
print(reverse(stre))

enter the number :  33

33

In [97]:
#Create a function to find sum of all positive number

def summ(Lis):
    sum =0
    
    for i in Lis:
        sum = sum + i
    return sum
Lis = [1,45,35,65,6,75,43]
print(summ(Lis))

270

In [101]:
#check string is palindron

def palindron(stri):
    if stri == stri[::-1]:
        return "yes string is palindron"
    else:
        return "No"

stri = input("Enter the value : ")
print(palindron(stri))

Enter the value :  qweewq

yes string is palindron

In [103]:
#function for return the factorial.

def factorial(num):
    if num ==0 or num ==1:
        return 1
    else:
        return num*factorial(num-1)
    
num = int(input("enter the number : "))
print(factorial(num))

enter the number :  3

6

In [105]:
#To find square of each element in given list
def sque(num):
    print("the square of the number  :")
    return num**2
num = int(input("Enter the number for get the square : "))
print(sque(num))

Enter the number for get the square :  4

the square of the number  :
16

In [107]:
#To Check the given number is even or odd
def check(num):
    if num%2 ==0:
        return f"yes{num} the number is even"
    else:
        return f"no{num} the number is odd"
num = int(input("Enter the number for check it's even or not: "))
print(check(num))

Enter the number for check it's even or not:  45

no45 the number is odd

In [111]:
#To Calculate area of triangle with base and height
def area(base,height):
    print(f"the area of triangle with base {base} and height {height }")
    return base*height
    
base = int(input("Enter the base of triangle "))
height = int(input("Enter the height of triangle "))
print(area(height,base))

Enter the base of triangle  4
Enter the height of triangle  7

the area of triangle with base 7 and height 4
28

In [113]:
#To give sorted list of string
def sort(li):
    li.sort(reverse=True)
    return li
        
    
li = ["Qwe","app","edcss","uisl","sdfgf"]
li.sort(reverse = True)
print(sort(li))

['uisl', 'sdfgf', 'edcss', 'app', 'Qwe']

In [115]:
#To take 2 string as input and return join 
def conc(li1,li2):
    
    li =[]
    for i in li1:
        for j in li2:
            if i == j:
                li.append(i)
    return li
    
li1 = ["Qwe","app","edcss","uisl","sdfgf"]
li2 = ["Qwe","FDd","SDf","DWd","app"]
print(conc(li1,li2))

['Qwe', 'app']

In [117]:
#To Check year is leap
def leap(year):
    if(year % 4 ==0 and year%100 !=0) or (year%400 ==0):
        return f"the year{year} is a leap year"
    else:
        return f"the year {year} is not a leap year"
    
year = int(input("enter the year for check year is leap or not"))
print(leap(year))

enter the year for check year is leap or not 5435

the year 5435 is not a leap year

In [119]:
#To Print table of an number
def table(num):
    for i in range (1,11):
        print(f"{num} * {i} = {num * i}")
    
num = int(input("enter the number for print the table is: "))
print(table(num))

enter the number for print the table is:  3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
None